body {
	padding: 0;
	margin: 0;
	background: #FFF;
}
body a {
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}
body a:hover {
	text-decoration: none;
}
body a:focus, a:hover {
	text-decoration: none;
}
input[type="button"],input[type="submit"] {
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
p {
	margin: 0;
}
ul {
	margin: 0;
	padding: 0;
}
label {
	margin: 0;
}
img {
	width: 100%;
}
a:focus, a:hover {
	text-decoration: none;
	outline: none
}
.banner {
 background-image:url("https://bit.ly/2psXQ2N");
background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 730px;
    background-size: cover;
}
.banner h1 {
    text-align: center;
    color:white;
    font-size: 70px;
    margin: 0 0 1em;
    font-weight: bolder;
}
.banner-info1 p {
    text-align: center;
    color:white;
    line-height: 1.8em;
    margin: 0;
    font-size: 40px;
}
.banner-info {
    width: 70%;
    margin: 15em auto 0;
}
/*-- //Reset-Code --*/
.header {
    background-color:blue;
}
/*-- Index-Page-Styling --*/
.navbar-default {
	background-color:rgba(33, 66, 65, 0.06);
	border: none;
	margin-bottom: 0;
	border-radius: 0;
}
a.navbar-brand {
	font-family: 'Hammersmith One', sans-serif;
	font-size: 40px;
	line-height: 28px;
}
.navbar-default .navbar-brand {
	color: #EEE;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #FFF;
}
.navbar ul {
	float: right;
	padding-top: 15px;
}
.navbar ul li {
	float: left;
	text-align: center;
	display: inline-block;
}
nav a {
    display: inline-block;
    margin: 15px 10px;
    outline: none;
    color: #EEE;
    text-decoration: none;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 18px;
    padding: 0 5px;
}
nav a:hover, nav a:focus {
	outline: none;
	color: #FFF;
}
 a.active {
    font-weight: 700;
}
.hover-effect a {
	overflow: hidden;
	height: 25px;
}
.hover-effect a span {
	position: relative;
	display: inline-block;
	-Webkit-transition: -Webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.hover-effect a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-Webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.hover-effect a:hover span, .hover-effect a:focus span {
	-Webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
/*--agile--*/
#about {
    padding: 5em 0;
    background-color:white;

}
#about h1{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    margin-top: 5%;
}
#who h3{
    font-size: 40px;
    margin-top: 5%;
    color:black;
    font-weight: bold;
}
#who p{
    font-size: 30px;
    margin-top: 5%;
}
/*--tabs style--*/
/*-- Accordion --*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}
.accordion {
	overflow:hidden;
}
/*----- Section Titles -----*/
.accordion-section-title {
    width: 85%;
    display: inline-block;
    border-bottom: 1px solid rgb(2, 57, 76);
    background: #032F3E;
    transition: all linear 0.15s;
    font-size: 17px;
    color: #fff;
    text-indent: 2em;
    text-decoration: none;
    padding: 15px 0;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}
.accordion-section-title.active, .accordion-section-title:hover,.accordion-section-title.focus {
    color: #fff;
	text-decoration:none;
    background:#215954;
    font-size: 30px;
}
.accordion-section:last-child .accordion-section-title {
border-bottom: none;
}
.accordion-section-content.open{
    border-top: 1px solid #cacaca;	
}
.accordion-section-content {
    padding: 15px 15px;
    display: none;
    border: none;
    border: 1px solid #215954;
    background: #fff;
    text-decoration: none;
    width: 85%;
}
.accordion p {
    color: #464646;
    font-size: 24px;
    line-height: 1.8em;
}
.accordion i {
    float: right;
    margin:4px 20px 0 0;
    color: #fff;
    font-size: 13px;
}
a.accordion-section-title span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0 9px 14px 0;
    color: #929292;
}
.accordion-section h6 {
    font-size: 20px;
    margin-bottom: 15px;
}
.accordion-section ul li {
    list-style-type: none;
    line-height: 2em;
    font-size: 14px;
    color: #464646;
}
.accordion-section ul li a{
    color: #464646;
	text-decoration:none;	
}
.accordion-section ul li span {
    margin-right: 14px;
    color: #10A7AF;
    font-weight: 100;
}

/*-- /About Us --*/
.agileits {
    padding: 5em 0;
}
/*-- wthree --*/
.wthree{
	padding:5em 0;
	background-color: #f4f4f4;
}
.w3l h3,.wthree h3,.agileits h3,.agile h3{
	text-align:center;
	color:#032F3E;
	font-size:3em;
	margin:0 0 1.5em;
}
p.vel{
	font-size:14px;
	color:#fff;
	margin:.5em 0 0;
	line-height:1.8em;
	text-align:center;
}
.services-grid-left1{
	padding:0;
}
.services-grid-left1 i span {
    font-size: 0.8em;
}
.services-grids:nth-child(3){
	margin:5em 0 4em;
}
/*-- effect --*/
.hovicon {
    display: inline-block;
    font-size: 45px;
    line-height: 90px;
    cursor: pointer;
    margin:0px 20px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
    color: #fff;
}
/*-- w3layouts --*/
.hovicon:after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -Webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -Webkit-font-smoothing: antialiased;
}
/* Effect 2 */
 .hovicon.effect-2 {
    color: #fff;
	box-shadow:0 0 0 3px #032F3E;
    -Webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.hovicon.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background:#032F3E;
    -Webkit-transition: -Webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 2a */
 .hovicon.effect-2.sub-a:hover, .hovicon.effect-2.sub-a:hover i {
    color:#eee;
}
/*-- agileits --*/
.hovicon.effect-2.sub-a:hover:after {
    -Webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/*-- //effect --*/
.services-grid-left2 h4 {
    font-size: 2em;
    color: #032F3E;
    margin: 0;
    text-align: left;
}
.services-grid-left2 p{
	margin:1em 0 0;
	color:#777;
	font-size:14px;
	line-height:1.8em;
}
/*-- //services --*/
/*-- Footer --*/
.footer {
	background-color: #212121;
}
.footer-info {
	margin-top: 50px;
}
.footer h4 {
	color: #fff;
	padding: 20px 0 25px;
	font-weight: 600;
	text-align: left;
	font-size:1.5em;
}
.footer-info li {
	color: #B7B4B4;
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 25px;
}
.links a {
	color: #EEE;
}
.links a:hover {
	color: #FFF;
	text-decoration: underline;
}
a.mail {
	color: #B7B4B4;
}
a.mail:hover {
	color: #fff;
}
.footer-info-grid.links li {
    float: left;
    width: 31%;
    margin: 1%;
}
/*-- Newsletter --*/
.footer-info p {
	color: #B7B4B4;
	font-weight: 400;
	font-size: 14px;
	line-height: 23px;
	margin-bottom: 20px;
	text-align: left;
}
.newsletter {
	position: relative;
}
.newsletter .email {
	padding: 5px 60px 5px 15px;
	border-radius: 3px;
	-Webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	height: 40px;
	border: 1px solid #fff;
	width: 100%;
	text-align: left;
}
.newsletter .email {
	color: #bcc0c4;
	background-color:#F4F4F4;
	border: none;
}
.newsletter .submit {
	width: 40px;
	height: 40px;
	background-image: url('../images/subscribe.png');
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: #032F3E;
	top: 0;
	right: 0;
	border: none;
}
/*-- //Newsletter --*/
/*-- Copyright --*/
.copyright {
	text-align: center;
	padding: 30px 0;
}
.copyright p {
	color: #FFF;
}
.copyright a {
	color: #FFF;
	text-decoration: none;
}
.copyright a:hover {
	color: #B7B4B4;
	text-decoration: underline;
}
/*-- //Copyright --*/
.social ul li{
  padding: 0em;
  list-style:none;
  display:inline-block;
}
.social ul li a span.fa {
  background-position: 0px -2px;
}
.social ul li a span.tw {
  background-position: -41px -3px;
}
.social ul li a span.g {
  background-position:-86px -4px;
}
.social ul li span.in {
  background-position: -129px -4px;
}
.social ul li a  span.pin {
  background-position:-174px -5px;
}
.social ul li a  span.fa:hover {
  opacity:0.5;
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li a span.tw:hover {
  opacity:0.5;
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li a span.g:hover {
  opacity:0.5;
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li a span.in:hover {
  opacity:0.5;
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.social ul li a span.pin:hover {
 opacity:0.5;
	transition: 0.5s all;
	-Webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all; 
}
.social ul li span{
  background:url(../images/ftr-icons.png)no-repeat;
  width:34px;
  height:36px;
  display:block;
}
@media(max-width:425px){
	.container {
		/* padding-right: 15px; */
		/* padding-left: 15px; */
		margin-right: auto;
		margin-left: auto;
	}
	#about{
		/* padding: 5em 0; */
		background-color: white;
	}
	.banner {
		background-image: url(https://bit.ly/2psXQ2N);
		background-repeat: no-repeat;
		/* width: 100%; */
		display: block;
		height: 730px;
		background-size: cover;
	}
	.wthree {
		/* padding: 5em 0; */
		background-color: #f4f4f4;
	}
}